{# TODO Faire le style de la page #}
{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block customStyle %}
<link href="{{ asset('css/signForm.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="signForm" class="text-center">
        <form method="post" class="form-signin">
            {% if error %}
                <div class="alert alert-danger text-center display-4"><h5>{{ error.messageKey|trans(error.messageData, 'security') }}</strong></h5></div>
                <hr>
            {% endif %}
            {% if success %}
                <div class="alert alert-success text-center">{{ success }}</div>
                <hr>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.firstname }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Connexion :</h1>
            <label class="sr-only" for="inputEmail">Votre Email :</label>
            <input type="email" placeholder="Votre email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control text-center" autocomplete="email" required autofocus>
            <label class="sr-only" for="inputPassword">Votre mot de passe :</label>
            <input type="password" placeholder="Votre Mot de Passe" name="_password" id="inputPassword" class="form-control text-center" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me" checked> Se souvenir de moi
                </label>
            </div>
            <button class="btn btn-lg btn-info btn-block mt-3" type="submit">
                Connexion
            </button>
            <hr>
            <p  class="text-center" >Ou souhaitez vous <a href="{{ path('app_register') }}"> créer un compte</a></p><br>
        </form>
    </div>


{% endblock %}
