{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Pseudo</th>
            <th scope="col">Dernière connexion</th>
            <th scope="col">Ami depuis :</th>
            <th scope="col">Voir les stats du joueur</th>
        </tr>
        </thead>
        <tbody>
    {% for user in users %}
        <tr>
            <th scope="row"><img src="{{ user.steam.avatar }}"></th>
            <td>{{ user.steam.personaname }}</td>
            <td>{{ user.steam.lastlogoff | date("d/m/Y") }}</td>
            <td>{{ user.friendinfo.friend_since | date("d/m/Y") }}</td>
            <td><a href="{{ path('app_user_details', { 'steamid' : user.steam.steamid}) }}" class="btn btn-dark pt-1">Cliquer ici !</a></td>

        </tr>
    {% endfor %}

        </tbody>
    </table>
{% endblock %}
